<div id="footer">
  <div class="row">
    <div class="col-3">
      <div class="footer">
        <h4> LIÊN HỆ CHÚNG TÔI </h4>
        <p> CÔNG TY CỔ PHẦN TRUYỀN THÔNG THỊNH PHÁT <br>
        </p>
        <p><i class="fa fa-phone-square" id="phone"></i> 0967995330 </p>
        <p><i class="fa fa-envelope-o"></i> kimoanhtran330@gmail.com </p>
      </div>
    </div>
    <div class="col-3">
      <div class="footer">
        <h4> GIỚI THIỆU</h4>
        <p>Tầm nhìn - Sứ Mệnh </p>
        <p>Hệ Thống Phân Phối </p>
        <p>Bộ Máy Tổ Chức </p>
        <p>Lịch Sử Hình Thành </p>
        <p>Về Chúng Tôi </p>
      </div>
    </div>
    <div class="col-3">
      <div class="footer">
        <h4>DỊCH VỤ</h4>
        <p>Trung Tâm Hỗ Trợ</p>
        <p>Bảo Hành</p>
        <p>Bảo Dưỡng</p>
        <p>Sửa Chữa</p>
        <p>Phụ Tùng & Phụ Kiện</p>

      </div>
    </div>
    <div class="col-3">
      <div class="footer">
        <h4> LIÊN KẾT </h4>
        <ul class="social">
          <li id="fb"><a href="#" class="faa-parent animated-hover"> <i class="fa fa-facebook "></i></a></li>
          <li id="tt"><a href="#"><i class=" fa fa-twitter  "></i></a></li>
          <li id="gg"><a href="#"><i class="fa fa-google-plus  "></i></a></li>
          <li id="pt"><a href="#"><i class="fa fa-pinterest  "></i></a></li>
          <li id="yt"><a href="#"><i class="fa fa-youtube  "></i></a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
        <p class="pull-left" style="color: black">© Trần Kim Oanh - 2020605127. </p>
      </div>
    </div>
  </div>
</div>
